* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0px;
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 1.2;
}

p {
  padding: 0px;
  padding-bottom: 1rem;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

strong {
  color: #009966;
}

p:last-child {
  padding-bottom: 0;
}

header {
  padding: 96px 0px 64px 0px;
  border-bottom: 8px solid #999999;
}

.intro-chunk {
  margin: 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 24px;
}

main {
  background-color: #666666;
  padding: 4rem 0;
}

.indented-heading {
  background-color: #FFBF00;
  font-size: 1.5rem;
  line-height: 1.2;
  width: fit-content;
  padding: 1rem 2rem;
  margin-left: -2rem;
  margin-top: 0;
  border-bottom: 8px solid #CC9900;
}

.card {
  background-color: white;
  padding: 8px 24px 16px 24px;
  margin: 0 -24px;
  border-bottom: 8px solid #999999;
}